@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow: hidden;
}

@keyframes enter {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes exit {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(100px);
    }
}

.exit {
    animation: exit 0.5s ease forwards;
}

.enter {
    animation: enter 0.5s ease forwards;
}
